#contact_modal {
    display: none;
}

.photograph-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    height: 16em;
    margin: 0 100px;
}

.photographerInfo{
    line-height: 2em;
}

.photographerInfo h2 {
    color: #D3573C;
    font-size: 2.56em;
}

.photographerInfo h3 {
    color: #901C1C;
    font-size: 1.5em;
}

.photographerInfo h4 {
    color: #525252;
    font-size: 1.2em;
    transform: translateY(-22px);
}

.photographerPortrait {
    display: flex;
    max-height: 200px;
    max-width: 200px;
    height: 200px;
}

.photobooth{
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 18px;
    margin-bottom: 20px;
}

.sort-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 4%;
    padding-bottom: 5%;
    margin-left: 100px;
}

.sort-by {
  font-size: 20px;
}

.sort-by {
    margin-right: 10px;
}
  
.sort-select {
    position: relative;
    width: 120px;
}
  
.selected-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 45px;
    color: white;
    background-color: #901C1C;
    border-radius: 4px;
    height: 3rem;
    width: 80px;
}

.fa-chevron-down {
    position: absolute;
    left: 75%;
}

.options-list {
    position: absolute;
    width: 120px;
    z-index: 1;
    list-style-type: none;
    padding: 10px;
    margin: 0;
    color : white;
    background-color: #901C1C;
    border-radius: 4px;
    display: none;
}

.sort-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
}
  
.sort-option:hover {
    background-color: #e5e5e5;
}

.sort-select li {
    border-bottom: 2px solid white;
    height: 2rem;
}

.sort-select li:last-child {
    border-bottom: none;
}

.sort-select li:hover {
    background-color: #631515;
}

#gallery_modal,
#contact_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}  

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-height: 80%;
    overflow: auto;
}

.cross{
    position: absolute;
    top: 20px;
    right: 45px;
    width: 25px;
    height: 35px;
    cursor: pointer;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
    font-size: 35px;
    background-color: #DB8876;
    height: 100%;
}

.modal header h2 {
    margin: 0;
    margin-left: 18px;
    background-color: #DB8876;
}

.modal header h3 {
    width: 100%;
}

#photographer_name {
    margin: 0;
    margin-left: 18px;
}

form {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
    background: #DB8876;
    transform: translateY(-50px);
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: self-start;
    margin-bottom: 26px;
    margin-left: 18px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

textarea {
    width: 100%;
    height: 10rem;
    border: none;
    border-radius: 5px;
}

#main {
    padding-bottom: 60px;
}

.main { 
    display: flex;
    flex-direction: column;
}

.media-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 2rem;
}

.media {
    width: calc(33% - 2rem);
}

.media-image, .media-video {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}

.media-image:hover, .media-video:hover {
    cursor: pointer;
    background-color: white;
    opacity: 0.2;
}

.media .title {
    position: relative;
    text-decoration: none;
    width: 60%;
}
  
.media .title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #901C1C;
    transition: width 0.5s ease-in-out;
}
  
.media:hover .title::after {
    width: 60%;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    color: #901C1C;
    margin-top: 10px;
}

.title{
    width: 50%;
}

.likes {
    display: flex;
}

.heart {
    margin-left: 1rem;
    background-color: initial;
    border: 0 solid transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.unchecked {
    font-size: 1rem;
}

.unchecked:hover {
    transition: 0.25s;
    display: flex;
    color: #901C1C;
    opacity: 1;
}
  
.checked {
    transition: 0.25s;
    display: flex;
    color: #901C1C;
    opacity: 1;
}



.active {
    background:#32bacf;
}

object {
    width: 100%;
    z-index: 9999;
}

.sub-info {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 376px;
    padding: 15px 20px;
    background: #DB8876;
    color: #000000;
    font-size: 1.3em;
    border-radius: 5px 5px 0 0;
    z-index: 900;
}

.carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40rem;
}

.carousel-arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.fa-angle-left,
.fa-angle-right {
    font-weight: 900;
    font-size: 60px;
}

.fa-angle-left:hover,
.fa-angle-right:hover {
    cursor: pointer;
}

.fa-angle-left {
    margin-right: 30px;
}

.fa-angle-right {
    margin-left: 30px;
}

#gallery_modal_current_media {
    width: 40%;
    height: 50%;
    margin: auto;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    overflow: auto;
}

object {
    max-width: 100%;
}

.cross-media {
    position: absolute;
    top: 20px;
    right: 35px;
    width: 25px;
    height: 35px;
    cursor: pointer;
}

.message-error {
    display: flex;
    justify-content: center;
    width: 100%;
}

.message {
    display: flex;
    justify-content: center;
    flex-direction: column;
}